@{
    ViewBag.title = "MovieTuned - Sign Up";
    Layout = "/Views/Shared/_MyLayout.cshtml";
}

<script>
    var usernameOkay = false, emailOkay = false, passwordOkay = false;
    $(document).ready(function () {
        $("#UserName").focusout(function () {
            var userName = $("#UserName").val();
            $.getJSON("/Accounts/Verifyusername?userName=" + userName, function (result) {
                if (result.status == false){
                    $("#UserName").css("border-color", "Red");
                    turnoff_usernameOkay();
                }
                else {
                    $("#UserName").css("border-color", "#ccc");
                    turnon_usernameOkay();
                }
            });
        });

        $("#Email").focusout(function () {
            var email = $("#Email").val();
            $.getJSON("/Accounts/IsEmailAvailable?email=" + email, function (result) {
                if (result.status == false) {
                    $("#Email").css("border-color", "Red");
                    turnoff_emailOkay();
                }
                else{
                    $("#Email").css("border-color", "#ccc");
                    turnon_emailOkay();
                }
            });
        });

        $("#Password1").keyup(function () {
            var password = $("#Password").val();
            var password1 = $("#Password1").val();

            if (password !== password1) {
                $("#Password1").css("border-color", "Red");
                $("#Password").css("border-color", "Red");
                turnoff_passwordOkay();
            }
            else if (password === password1) {
                $("#Password1").css("border-color", "Green");
                $("#Password").css("border-color", "Green");
                turnon_passwordOkay();
            }
        });

        $("#Password").keyup(function () {
            var password = $("#Password").val();
            var password1 = $("#Password1").val();

            if (password1 === "") {
                $("#Password").css("border-color", "#ccc");
                $("#Password1").css("border-color", "#ccc");
                turnoff_passwordOkay();
            }
        });

        $("#signup-submit-button").click(function (ev) {
            ev.preventDefault();
            var username = $("#UserName").val();
            var password = $("#Password").val();
            var email = $("#Email").val();
            var password1 = $("#password1").val();

            if ((username === "") || (password === "") || (password1 === "") || (email === "")) {
                $("#signup-null-fields-error-modal").modal();
            }
            else if ((usernameOkay === false) || (passwordOkay === false) || (emailOkay === false)) {
                $("#signup-invalid-fields-error-modal").modal();
            }
            else
                $("#signup-form").submit();

        });

    });

    function turnon_usernameOkay() {
        usernameOkay = true;  
    }

    function turnoff_usernameOkay() {
        usernameOkay = false;
    }

    function turnon_emailOkay() {
        emailOkay = true;
    }

    function turnoff_emailOkay() {
        emailOkay = false;
    }

    function turnon_passwordOkay() {
        passwordOkay = true;
    }

    function turnoff_passwordOkay() {
        passwordOkay = false;
    }

</script>

<div id="content" style="margin-top:50px;margin-bottom:30px">
    <div class="panel panel-default" style="width:350px;margin:auto;height:auto">

        <div class="panel-heading">
            <h4 style="text-align:center">Sign Up</h4>
        </div>

        <div class="panel-body">
            <form id="signup-form" method="post" action="/Accounts/Register">
                <div class="form-group">
                    <label for="exampleInputEmail1">User Name*</label>
                    <input type="text" class="form-control" id="UserName" data-toggle="popover" data-content="UserName Aleready Taken" name="UserName" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email*</label>
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="xyz@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password*</label>
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Re-enter Password*</label>
                    <input type="password" class="form-control" id="Password1" name="Password1" placeholder="Password">
                </div>
                <button id="signup-submit-button" class="btn btn-info" style="margin-top:15px;margin-bottom:15px;width:318px">Sign Up</button>
            </form>
        </div>

        <div class="panel-footer">
            <h6 class="panel-heading" style="text-align:center">Already a member?</h6>
            <button id="login-button" class="btn btn-primary" style="margin-bottom:15px;width:318px" onclick="window.location.href='/Home/Login'">Sign In</button>
        </div>
    </div>

    <div class="modal fade" id="signup-null-fields-error-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="color:white ;background-color:red ;border-radius:5px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p id="error-message">Please fill all fields&hellip;</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="signup-invalid-fields-error-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="color:white ;background-color:red ;border-radius:5px">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <p id="error-message">Invalid Credentials&hellip;</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
